<pre class="de1">
<span class="kw1">var</span> displayClosure <span class="sy0">=</span> <span class="kw1">function</span><span class="br0">(</span><span class="br0">)</span> <span class="br0">{</span>
    <span class="kw1">var</span> count <span class="sy0">=</span> <span class="nu0">0</span><span class="sy0">;</span>
    <span class="kw1">return</span> <span class="kw1">function</span> <span class="br0">(</span><span class="br0">)</span> <span class="br0">{</span>
        <span class="kw1">return</span> <span class="sy0">++</span>count<span class="sy0">;</span>
    <span class="br0">}</span><span class="sy0">;</span>
<span class="br0">}</span>
<span class="kw1">var</span> inc <span class="sy0">=</span> displayClosure<span class="br0">(</span><span class="br0">)</span><span class="sy0">;</span>
inc<span class="br0">(</span><span class="br0">)</span><span class="sy0">;</span> <span class="co1">// returns 1</span>
inc<span class="br0">(</span><span class="br0">)</span><span class="sy0">;</span> <span class="co1">// returns 2</span>
inc<span class="br0">(</span><span class="br0">)</span><span class="sy0">;</span> <span class="co1">// returns 3</span>
</pre>