@import "bootstrap.less";
@import "keyframeAnimations.less";
@import "navigation.less";
@import "page.home.less";
@import "page.bio.less";
@import "page.work.less";
@import "page.work.item.less";

@import "component.filterdropdown.less";
@import "component.spinner.less";
@import "component.navbar.less";
@import "component.footer.less";

html,body {
  height: 100%;
}

body {

  background-color: @main-background-color;
  color: @main-foreground-color;

  background-position: center 100%;

  padding-left: 10px;
  padding-right: 10px;

  overflow-y: scroll;

  -o-transition: padding 0.15s ease;
  -ms-transition: padding 0.15s ease;
  -moz-transition: padding 0.15s ease;
  -webkit-transition: padding 0.15s ease;
  transition: padding 0.15s ease;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background-color: #eaeaea;
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

.main-content {
  position: relative;
  width: 100%;
  height: 100%;
}

body.menu-activated {

  @media (min-width: @grid-float-breakpoint) {
    padding-left: 140px;
  }
}


.separator {
  -webkit-user-select: none;
}

.page {
  margin: 0;
  padding: 0 0 40px;
  min-height: 100%;

  &.menuIsOpen {
    padding-left:130px;
  }
}

.page .separator {
  font-size: 8px;
  width: 100%;
  white-space: nowrap;
  display: block;
  margin: 0;
  line-height: 1;
  font-weight: 800;
  font-family: @code-font;
  letter-spacing: 2px;
  overflow: hidden;
  color: @main-dim-color;
}

.page > header {
  color: @main-foreground-color;
  text-align: center;
  margin-bottom: 20px;

  .page-title-wrapper {
    display: block;
    height: 60px;
    overflow: hidden;
    width: 100%;
    position: relative;
    padding-left: 70px;
    padding-right: 70px;
  }

  h1 {
    position: relative;
    top: 28px;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: @hand-font;

    @media (min-width: @grid-float-breakpoint) {
      top: 23px;
      font-size: 34px;
    }

    a {
      color: @main-link-color;
    }

    a:hover,
    a:focus {
      text-decoration: none;
      color: @main-foreground-color;
    }
  }

  .firstName {
    margin-right: 10px;
  }
  .lastName {
  }

}

.page > section {

  font-family: @dosis-font;
  color: @main-foreground-color;
  max-width: 400px;

  @media (min-width: @grid-float-breakpoint) {
    max-width: 100%;
  }

  > header {
    text-align: center;
    color: @main-foreground-color;
    margin-bottom: 1em;

    h2 {
      margin: 0;
      padding: 0;
      font-family: @hand-font;
    }
  }

}

.btn-branded {
  position: relative;
  border: 1px solid darken(@main-link-color, 10%);
  color: @main-background-color;
  background-color: @main-link-color;
  margin-right: 3px;
  border-radius: 0;
  .transition(all ease 0.1s);

  &:hover,
  &:focus {
    background-color: darken(@main-link-color, 10%);
    border-color: darken(@main-link-color, 20%);
    color: @main-background-color;
  }
}

.btn-popover:before {
  content: '';
  display: block;
  position: absolute;
  border-width: 0px 8px 8px 0px;
  border-color: transparent transparent darken(@main-link-color, 20%) transparent;
  border-style: solid;
  display: block;
  bottom: 0;
  left: 0;
}


@popover-border-highlight-color: @main-link-color;
@popover-bg: @main-background-color;
@popover-fallback-border-color: #ddd;
@popover-border-color: #ddd;
@popover-title-bg: @main-background-color;
@popover-arrow-outer-fallback-color: @popover-border-highlight-color;
@popover-arrow-outer-color: @popover-border-highlight-color;
@popover-arrow-color: @main-background-color;

.main-content {

  .popover {
    background-color: @popover-bg;
    border: 1px solid @popover-fallback-border-color;
    border: 1px solid @popover-border-color;
    border-bottom-color: @popover-border-highlight-color;
    border-radius: 0;
    .box-shadow(0 0 5px rgba(0,0,0,.1));
  }

  .popover-title {
    background-color: @popover-title-bg;
    border-bottom: 1px solid darken(@popover-title-bg, 5%);
    border-radius: 0;
  }

  .popover {
    &.top .arrow {
      border-top-color: @popover-arrow-outer-fallback-color; // IE8 fallback
      border-top-color: @popover-arrow-outer-color;
      &:after {
        border-top-color: @popover-arrow-color;
      }
    }
    &.right .arrow {
      border-right-color: @popover-arrow-outer-fallback-color; // IE8 fallback
      border-right-color: @popover-arrow-outer-color;
      &:after {
        border-right-color: @popover-arrow-color;
      }
    }
    &.bottom .arrow {
      border-bottom-color: @popover-arrow-outer-fallback-color; // IE8 fallback
      border-bottom-color: @popover-arrow-outer-color;
      &:after {
        border-bottom-color: @popover-arrow-color;
      }
    }

    &.left .arrow {
      border-left-color: @popover-arrow-outer-fallback-color; // IE8 fallback
      border-left-color: @popover-arrow-outer-color;
      &:after {
        border-left-color: @popover-arrow-color;
      }
    }

  }

}