@import "bootstrap.less";
@import "keyframeAnimations.less";
@import "navigation.less";
@import "page.home.less";
@import "page.bio.less";
@import "page.work.less";
@import "page.work.item.less";

@import "component.filterdropdown.less";

html,body {
  height: 100%;
}

body {
  background-color: @main-background-color;
  color: @main-foreground-color;
  transition: all ease 0.5s;
  background-position: center 100%;
}

.menu-activated {
  padding-left: 130px;
}




.page {
  margin: 0;
  padding: 0 0 40px;
  min-height: 100%;

  &.menuIsOpen {
    padding-left:130px;
  }
}

.page .separator {
  font-size: 8px;
  width: 100%;
  white-space: nowrap;
  display: block;
  margin: 0;
  line-height: 1;
  font-weight: 800;
  font-family: @code-font;
  letter-spacing: 2px;
  overflow: hidden;
  color: @main-dim-color;
}

.page > header {
  color: @main-foreground-color;
  text-align: center;
  margin-bottom: 20px;

  h1 {
    position: relative;
    top: 13px;
    margin: 0;
    padding: 0;
    line-height: 65px;
    font-size: 34px;
    font-weight: 300;
    font-family: @hand-font;

    a {
      color: @main-foreground-color;
    }
  }

  .firstName {
    font-weight: 300;
    margin-right: 10px;
  }
  .lastName {
    font-weight: 800;
  }

}

.page > section {

  font-family: @dosis-font;
  color: @main-foreground-color;

  > header {
    text-align: center;
    color: @main-foreground-color;
    margin-bottom: 1em;

    h2 {
      margin: 0;
      padding: 0;
      font-family: @hand-font;
    }
  }

}



.footer {
  text-align: center;
  bottom: 0;
  right: 0;
  line-height: 30px;
  padding: 30px 0;
  font-family: @dosis-font;
  font-weight: bold;
  font-size: 13px;
  color: @main-link-color;
}