// BOUNCE ITEM UP/DOWN AS IT WAS HIT AND FINISH WITH EASE

@-moz-keyframes bounceLetter
{
  0%, 70%, 100% {top:0; text-shadow: 0 1px rgba(0, 0, 0, 0.6); color: #FFFFFF;}
  5%  {top:-7px; text-shadow: 0 12px 3px rgba(0, 0, 0, 0.4); color: #FFFFFF;}
  13%  {top:7px; text-shadow: none; color: #CCCCCC;}
  21%  {top:-9px; text-shadow: 0 12px 3px rgba(0, 0, 0, 0.4); color: #FFFFFF;}
  29%  {top:10px; text-shadow: none; color: #CCCCCC;}
  39%  {top:-4px; text-shadow: 0 12px 3px rgba(0, 0, 0, 0.4); color: #FFFFFF;}
  49%  {top:3px; text-shadow: none; color: #CCCCCC;}
  59%  {top:-2px; text-shadow: 0 12px 3px rgba(0, 0, 0, 0.4); color: #FFFFFF;}
}

@-webkit-keyframes bounceLetter
{
  0%, 70%, 100% {top:0; text-shadow: 0 1px rgba(0, 0, 0, 0.6); color: #FFFFFF;}
  5%  {top:-7px; text-shadow: 0 12px 3px rgba(0, 0, 0, 0.4); color: #FFFFFF;}
  13%  {top:7px; text-shadow: none; color: #CCCCCC;}
  21%  {top:-9px; text-shadow: 0 12px 3px rgba(0, 0, 0, 0.4); color: #FFFFFF;}
  29%  {top:10px; text-shadow: none; color: #CCCCCC;}
  39%  {top:-4px; text-shadow: 0 12px 3px rgba(0, 0, 0, 0.4); color: #FFFFFF;}
  49%  {top:3px; text-shadow: none; color: #CCCCCC;}
  59%  {top:-2px; text-shadow: 0 12px 3px rgba(0, 0, 0, 0.4); color: #FFFFFF;}
}

@-o-keyframes bounceLetter
{
  0%, 70%, 100% {top:0; text-shadow: 0 1px rgba(0, 0, 0, 0.6); color: #FFFFFF;}
  5%  {top:-7px; text-shadow: 0 12px 3px rgba(0, 0, 0, 0.4); color: #FFFFFF;}
  13%  {top:7px; text-shadow: none; color: #CCCCCC;}
  21%  {top:-9px; text-shadow: 0 12px 3px rgba(0, 0, 0, 0.4); color: #FFFFFF;}
  29%  {top:10px; text-shadow: none; color: #CCCCCC;}
  39%  {top:-4px; text-shadow: 0 12px 3px rgba(0, 0, 0, 0.4); color: #FFFFFF;}
  49%  {top:3px; text-shadow: none; color: #CCCCCC;}
  59%  {top:-2px; text-shadow: 0 12px 3px rgba(0, 0, 0, 0.4); color: #FFFFFF;}
}

@keyframes bounceLetter
{
  0%, 70%, 100% {top:0; text-shadow: 0 1px rgba(0, 0, 0, 0.6); color: #FFFFFF;}
  5%  {top:-7px; text-shadow: 0 12px 3px rgba(0, 0, 0, 0.4); color: #FFFFFF;}
  13%  {top:7px; text-shadow: none; color: #CCCCCC;}
  21%  {top:-9px; text-shadow: 0 12px 3px rgba(0, 0, 0, 0.4); color: #FFFFFF;}
  29%  {top:10px; text-shadow: none; color: #CCCCCC;}
  39%  {top:-4px; text-shadow: 0 12px 3px rgba(0, 0, 0, 0.4); color: #FFFFFF;}
  49%  {top:3px; text-shadow: none; color: #CCCCCC;}
  59%  {top:-2px; text-shadow: 0 12px 3px rgba(0, 0, 0, 0.4); color: #FFFFFF;}
}



// ZOOM TO ~200% AND QUICKLY RETURN TO ~150%


@-webkit-keyframes zoomDot
{
  0% { width: 8px; height: 8px; border-radius: 15px; top:11px; left: 11px; }
  50% { width: 14px; height: 14px; border-radius: 15px; top:8px; left: 8px; }
  100% { width: 10px; height: 10px; border-radius: 15px; top:10px; left: 10px; }
}