@page-work-background: @brand-bg;
@page-work-foreground: @brand-fg;
@page-work-inactive: @brand-dim;
@page-work-img-background: @brand-bg-light;
@page-work-bright: @brand-bright;

@page-work-line-background: @page-work-bright;

@page-work-label-background: @page-work-background;
@page-work-label-foreground: @page-work-link;

@page-work-dot-background: @page-work-foreground;
@page-work-link: @brand-link;
@page-work-link-inactive: @page-work-inactive;
@page-work-link-active: @brand-link;



body[class*="main_work"] {
  font-family: @dosis-font;

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: @dosis-font;
  }

}


.work-portfolio {

  .thumbnail-title {
    display:block;
    text-align: center;
  }


}


#timeline {
  position: relative;

  &.timeline-single {

    position:absolute;
    right: 0;
    margin-right: -12px;

    .timeline-year {
      .timeline-year-value {
        font-size: 13px;
      }
      .timeline-month {
        height: 12px;
        .dot {
          width: 8px;
          height: 8px;
          background-color: @page-work-inactive;
          margin-left: -4px;
          margin-top: -4px;
        }
      }
    }

    .timeline-job,
    .timeline-job:nth-child(even),
    .timeline-job:nth-child(odd){
      right: 50%;
      left: initial;
      margin-right: 50px;
      margin-left: initial;

      > :before {
        left:0;
        right: initial;
        .rotate(90deg);
      }
      > :after {
        left:0;
        right: initial;
        .rotate(0deg);
      }

      .timeline-job-label {
        right: 25px;
        left: initial;
      }
      .timeline-job-label:before {
        right: -6px;
        left: initial;
        .rotate(-135deg);
      }
    }

    .timeline-job-line-marker {
      position: absolute;
      right: 15px;
      text-align: right;
      font-size: 21px;
      line-height: 1;
      width: 10em;
      font-family: @hand-font;

      &.from {
        bottom:-10px;
      }
      &.to {
        top:-5px;
      }
    }

  }

  .timeline-year {

    position: relative;
    left:0;
    top:0;

    .timeline-year-value {
      font-size: 12px;
      text-align: center;
      line-height: 20px;
      height: 20px;
      display:block;
      color: @page-work-bright;
    }

    .timeline-month {
      display: block;
      height: 8px;
      position: relative;

      .dot {
        width: 4px;
        height: 4px;
        background-color: @page-work-dot-background;
        border-radius: 4px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -2px;
        margin-top: -2px;
      }
    }

  }

  .timeline-job {
    position: absolute;
    display: block;

    &:nth-child(even){
      left: 50%;
      margin-left: 30px;

      > :before {
        right:0;
        .rotate(180deg);
      }
      > :after {
        right:0;
        .rotate(270deg);
      }

      .timeline-job-label {
        left: 25px;
      }
      .timeline-job-label:before {
        left: -6px;
        .rotate(45deg);
      }
    }



    &:nth-child(odd){
      right: 50%;
      margin-right: 30px;

      > :before {
        left:0;
        .rotate(90deg);
      }
      > :after {
        left:0;
        .rotate(0deg);
      }

      .timeline-job-label {
        right: 25px;
      }
      .timeline-job-label:before {
        right: -6px;
        .rotate(-135deg);
      }
    }

    .timeline-job-line {
      display: block;
      width: 2px;
      background-color: @page-work-line-background;
      position: absolute;
      left: 50%;
      margin-left: -1px;

      &:before {
        content: '';
        position: absolute;
        border-width: 0px 12px 12px 0px;
        border-color: transparent transparent @page-work-line-background transparent;
        border-style: solid;
        display: block;
        top: 0;
      }

      &:after {
        content: '';
        position: absolute;
        border-width: 0px 12px 12px 0px;
        border-color: transparent transparent @page-work-line-background transparent;
        border-style: solid;
        display: block;
        bottom: 0;
      }

      .timeline-job-label {
        position: absolute;
        top: 50%;
        display: block;
        min-width: 140px;
        height: 60px;
        line-height: 20px;
        margin-top: -30px;
        padding: 20px;
        text-align:center;
        font-weight: bold;
        color: @page-work-label-foreground;
        background-color: @page-work-label-background;
        cursor: pointer;
        border: 1px solid @page-work-label-foreground;
        border-top-color: transparent;
        transition: all ease 0.1s;

        &:hover,
        &:focus {
          text-decoration: none;
          border-top-color: @page-work-label-foreground;
          border-bottom-width: 4px;
        }
      }

      .timeline-job-label:before {
        content: '';
        position: absolute;
        border-width: 0px 12px 12px 0px;
        border-color: transparent transparent @page-work-label-foreground transparent;
        border-style: solid;
        display: block;
        top: 50%;
        margin-top: -6px;
      }

    }
  }


  .timeline-end {
    display: block;
    margin: 20px auto;
    text-align: center;

    .timeline-end-dot {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background-color: @page-work-inactive;
    }
  }

}


.projects-gallery {

  .projects-gallery-item {
    display: block;
    width: 100%;
    margin-bottom: 35px;
    position:relative;
    transition: all ease 0.1s;

    .projects-gallery-item-image {
      display: block;
      position:relative;
      z-index: 2;
      background-color: @page-work-img-background;
      max-height: 200px;
      min-height: 120px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    }
    .projects-gallery-item-label {
      color: @page-work-foreground;
      display: block;
      padding: 3px;
      font-weight: bold;
      position: absolute;
      z-index: 1;
      bottom: 0;
      width: 100%;
      height: 23px;
      line-height: 16px;
      font-size: 13px;
      transition: all ease 0.1s;
    }

    &:hover,
    &:focus {

      margin-top: -4px;
      padding-bottom: 4px;

      .projects-gallery-item-label {
        bottom: -23px;
      }
    }

  }

}

.projects-gallery-pagination {
  display: block;
  text-align: center;
  margin: 0;
  list-style: none;
  padding: 0;

  .projects-gallery-pagination-previous,
  .projects-gallery-pagination-next {
    display: inline-block;
    margin: 0 2px;
    position: relative;

    a {
      display: block;
      height: 40px;
      line-height: 30px;
      padding: 4px;
      width: 40px;
      border: 1px solid transparent;
      color: @page-work-link;
      border-radius: 20px;
      cursor: pointer;
      transition: all ease 0.1s;

      &:hover:not(.inactive),
      &:focus:not(.inactive) {
        border-color: @page-work-link-active;
        color: @page-work-link-active;
      }

      &.inactive {
        cursor: not-allowed;
        color: @page-work-link-inactive;
      }
    }
  }

}




