@page-work-item-background: @brand-bg;
@page-work-item-foreground: @brand-fg;
@page-work-item-dimm: @brand-dim;
@page-work-item-red: @brand-link;
@page-work-item-white: @brand-bg-light;

body.main_work_gallery_item {

  .project-title {
    font-size: 21px;
  }

  .project-text {
    font-size: 16px;
  }


}

.timeline-container,
.description-container {
  width: 50%;
  float: left;
  position: relative;

  .timeline-item-section {

    margin-left: 40px;

    .timeline-item-title {
      font-size: 14px;
      color: @brand-bright;
      text-transform: lowercase;
      margin: 0 0 5px;
    }

    .timeline-item-text-lead {
      font-size: 21px;
      margin: 0 0 20px;
    }

    .timeline-item-text {
      font-size: 16px;
      margin: 0 0 20px;
    }

  }
}


.work-items {
  margin: 0 0 20px;
  padding: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
  white-space: nowrap;
  max-width: 100%;

  // ANIMATIONS
  &.animate_progress {

    &.animate_out {
      transition: all ease-out 0.1s;
      opacity: 0;

      &.animate_type_left {
        transform: translateX(30%); // move right
      }
      &.animate_type_right {
        transform: translateX(-30%); // move left
      }
    }

    &.animate_in {
      transform: translateX(0); // move back
      opacity: 1;
      &:not(.animate_type_fade){
        transition: all ease-in-out 0.1s;
      }
      &.animate_type_fade {
        transition: all ease-in-out 0.5s;
      }
    }
  }

  &.animate_prepare {
    &.animate_out {
      opacity: 0;

      &.animate_type_left {
        transform: translateX(30%); // move right
      }
      &.animate_type_right {
        transform: translateX(-30%); // move left
      }
    }

    &.animate_in {
      opacity: 0;

      &.animate_type_left {
        transform: translateX(-30%); // move left
      }
      &.animate_type_right {
        transform: translateX(30%); // move right
      }
    }
  }


  > li {
    display: inline-block;
    position: relative;

    &.active {

      > a {
        border-bottom: 1px solid @page-work-item-red;
      }
    }

    &.work-items-thumb-wrap {
      max-width: 13%;
    }

    > a {
      display: block;
      position: relative;
      width: 100px;
      max-width: 100%;
      height: 60px;
      overflow: hidden;
      background-color: @page-work-item-white;
      margin: 0 5px;
      color: @page-work-item-white;
      cursor: pointer;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);

      @media (max-width: 700px) {
        margin: 0;
      }

    }

    &:hover:not(.active) > a {
      bottom: 2px;
    }

    &.projects-gallery-pagination-previous a,
    &.projects-gallery-pagination-next a {
      width: 40px;
      height: 60px;
      border: 0;
      background-color: transparent;
      color: @page-work-item-red;
      line-height: 60px;
      box-shadow: none;

      &.inactive {
        color: @page-work-item-dimm;
        cursor: not-allowed;
      }
    }

  }
}


.gallery-item-back-link {
  display: inline-block;
  position:relative;
  width: 50px;
  height: 50px;
  background: transparent;
  color: transparent;
  border: 1px solid @page-work-item-red;
  border-radius: 25px;
  margin-bottom: 20px;

  &:before,
  &:after{
    content:'';
    display: block;
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: @page-work-item-red;

    top: 24px;
    left: 10px;

    transition: all 0.3s ease;
  }

  &:before {
    transform: rotateZ(45deg);
  }

  &:after {
    transform: rotateZ(-45deg);
  }

  &:hover {

    color: transparent;

    &:before {
      transform: rotateZ(225deg);
    }
    &:after {
      transform: rotateZ(135deg);
    }
  }


}

.project-images {
  .project-images-primary {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  }
}

.btn-branded {
  position: relative;
  border: 1px solid @page-work-item-red;
  color: @page-work-item-red;
  background: transparent;
  margin-right: 3px;
  border-top-color: transparent;
  border-radius: 0;
  transition: all ease 0.1s;

  &:hover,
  &:focus {
    background-color: @page-work-item-red;
    border-color: @page-work-item-red;
    color:@page-work-item-white;
  }
}

.btn-popover:before {
  content: '';
  display: block;
  position: absolute;
  border-width: 0px 8px 8px 0px;
  border-color: transparent transparent @page-work-item-red transparent;
  border-style: solid;
  display: block;
  bottom: 0;
  left: 0;
}