body[class*="main_work"] {
  background-color: @page-work-background;
}


.work-navigation {

  .navbar {
    border: 0;
    background-color: transparent;
    border-radius: 0;
    border-bottom: 1px solid @page-work-line-background;
    min-height: 30px;
    margin-bottom: 40px;

    .navbar-nav > li > a {
      padding-bottom: 8px;
      padding-top: 8px;
      color: @page-work-link;
      cursor: pointer;
      border-bottom: 2px solid transparent;
      transition: all 0.2s ease;

      .caret {
        border-top-color: @page-work-link;
        border-bottom-color: @page-work-link;
      }
    }
    .navbar-nav > .active > a,
    .navbar-nav > li > a:hover,
    .navbar-nav > li > a:focus,
    .navbar-nav > li > a:active {
      background-color: transparent;
      color: @page-work-link-active;
      border-color: @page-work-link-active;

      .caret {
        border-top-color: @page-work-link-active;
        border-bottom-color: @page-work-link-active;
      }
    }
  }

  .navbar + .navbar-filter {
    margin-top: -40px;
    margin-bottom: 30px;
  }

  .navbar.navbar-filter {
    border: 0;
    .navbar-nav > li > a {
      border: 0;
    }
  }

  .navbar-filter-toggler {
    display: block;
    padding: 6px 6px;
    cursor: pointer;
    color: @page-work-link;
  }

}


.work-portfolio {

  .thumbnail-title {
    display:block;
    text-align: center;
  }


}


#timeline {
  overflow: hidden;
  position: relative;

  .timeline-year {

    position: relative;
    left:0;
    top:0;

    .timeline-year-value {
      font-size: 9px;
      text-align: center;
      line-height: 20px;
      height: 20px;
      display:block;
    }

    .timeline-month {
      display: block;
      height: 8px;
      position: relative;

      .dot {
        width: 4px;
        height: 4px;
        background-color: @page-work-dot-background;
        border-radius: 4px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -2px;
        margin-top: -2px;
      }
    }

  }

  .timeline-job {
    position: absolute;
    display: block;

    &:nth-child(even){
      left: 50%;
      margin-left: 30px;

      > :before {
        right:0;
        .rotate(180deg);
      }
      > :after {
        right:0;
        .rotate(270deg);
      }

      .timeline-job-label {
        left: 25px;
      }
      .timeline-job-label:before {
        left: -6px;
        .rotate(45deg);
      }
    }



    &:nth-child(odd){
      right: 50%;
      margin-right: 30px;

      > :before {
        left:0;
        .rotate(90deg);
      }
      > :after {
        left:0;
        .rotate(0deg);
      }

      .timeline-job-label {
        right: 25px;
      }
      .timeline-job-label:before {
        right: -6px;
        .rotate(-135deg);
      }
    }

    .timeline-job-line {
      display: block;
      width: 6px;
      border: 1px solid @page-work-line-border;
      border-radius: 3px;
      background-color: @page-work-line-background;
      position: absolute;
      left: 50%;
      margin-left: -3px;

      &:before {
        content: '';
        position: absolute;
        border-width: 0px 12px 12px 0px;
        border-color: transparent transparent @page-work-line-background transparent;
        border-style: solid;
        display: block;
        top: 0;
      }

      &:after {
        content: '';
        position: absolute;
        border-width: 0px 12px 12px 0px;
        border-color: transparent transparent @page-work-line-background transparent;
        border-style: solid;
        display: block;
        bottom: 0;
      }

      .timeline-job-label {
        position: absolute;
        top: 50%;
        display: block;
        min-width: 140px;
        height: 60px;
        line-height: 20px;
        margin-top: -30px;
        padding: 20px;
        text-align:center;
        font-weight: bold;
        color: @page-work-label-foreground;
        background-color: @page-work-label-background;
        border-radius: 4px;
        cursor: pointer;
        border: 1px solid @page-work-label-foreground;

        box-shadow: 0 0 15px darken(@page-work-background,5%);
      }

      .timeline-job-label:before {
        content: '';
        position: absolute;
        border-width: 0px 12px 12px 0px;
        border-color: transparent transparent @page-work-label-foreground transparent;
        border-style: solid;
        display: block;
        top: 50%;
        margin-top: -6px;
      }

    }
  }


  .timeline-end {
    display: block;
    margin: 20px auto;
    text-align: center;

    .timeline-end-dot {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background-color: @page-work-foreground;
    }
  }

}


.projects-gallery {

  .projects-gallery-item {
    display: block;
    width: 100%;
    margin-bottom: 35px;
    position:relative;
    transition: all ease 0.2s;

    .projects-gallery-item-image {
      display: block;
      background-color: #FFFFFF;
      max-height: 200px;
      min-height: 120px;
    }
    .projects-gallery-item-label {
      color: #222222;
      display: block;
      padding: 12px 12px;
      background: rgb(220, 220, 220);
      font-weight: bold;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 40px;
      line-height: 16px;
      font-size: 13px;
      transform: rotateX(90deg);
      transform-origin: bottom;
      transition: all ease 0.2s;
    }

    &:hover {

      margin-top: -40px;
      padding-bottom: 40px;

      .projects-gallery-item-label {
        transform: rotateX(0deg);
      }
    }

  }

}

.projects-gallery-pagination {
  display: block;
  text-align: center;
  margin: 0;
  list-style: none;
  padding: 0;

  .projects-gallery-pagination-previous,
  .projects-gallery-pagination-next {
    display: inline-block;
    margin: 0 2px;
    position: relative;

    a {
      display: block;
      height: 40px;
      line-height: 30px;
      padding: 4px;
      width: 40px;
      border: 2px solid @page-work-link;
      color: @page-work-link;
      border-radius: 20px;
      cursor: pointer;
      transition: all ease 0.1s;

      &:hover:not(.inactive),
      &:focus:not(.inactive) {
        border-color: @page-work-link-active;
        color: @page-work-link-active;
      }

      &.inactive {
        cursor: default;
        border-color: @page-work-link-inactive;
        color: @page-work-link-inactive;
      }
    }
  }

}




