option_settings:
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: NodeCommand
    value: npm start
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: NodeVersion
    value: 0.10.10
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: GzipCompression
    value: true
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: ProxyServer
    value: nginx
  - option_name: NODE_ENV
    value: production

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/11_export_npm_env.sh":
    mode: "000755"
    owner: root
    group: users
    content: |
      #!/bin/bash
      export npm_config_production=true

  "/opt/elasticbeanstalk/hooks/restartappserver/enact/99_export_npm_env.sh":
    mode: "000755"
    owner: root
    group: users
    content: |
      #!/bin/bash
      export npm_config_production=true


commands:
  01-command:
    command: echo "*********************************************************************"
  02-command:
    command: echo "**** NPM IS PRODUCTION > " $npm_config_production
  03-command:
    command: echo "*********************************************************************"

