option_settings:
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: NodeCommand
    value: npm start
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: NodeVersion
    value: 0.10.10
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: GzipCompression
    value: true
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: ProxyServer
    value: nginx
  - option_name: NODE_ENV
    value: production

commands:
  01-command:
    command: echo "*********************************************************************"
  02-command:
    command:        rm -rf /ivarprudnikovconfig/.ebextensions
  03-command:
    command:        mkdir -p /ivarprudnikovconfig/.ebextensions
  04-command:
    command:        cp -R .ebextensions/* /ivarprudnikovconfig/.ebextensions/
  05-command:
    command:        chmod 700 /ivarprudnikovconfig/.ebextensions/init.sh
  06-command:
    command:        bash /ivarprudnikovconfig/.ebextensions/init.sh
  07-command:
    command: echo "**** NPM IS PRODUCTION > " $npm_config_production
  08-command:
    command: echo "*********************************************************************"

