<div class="col-sm-12">

    <ul class="work-items">
        <li ng-repeat="project in projects">
            <a ui-sref="main.work.gallery.item({itemId:project.id})"
               class="" >
                {{project.title}}
            </a>
        </li>
    </ul>

    <!--
    <div class="list-group">
        <a ui-sref="main.work.gallery" class="list-group-item">
            Back to gallery
        </a>
        <a ui-sref="main.work.gallery.item({itemId:project.id})"
           class="list-group-item"
           ng-repeat="project in projects">
            {{project.title}}
        </a>
    </div>
    -->

</div>