<article class="page page-hire">
    <header>
        <h1><a ui-sref="main.home" ><span class="firstName">Ivar</span><span class="lastName">Prudnikov</span></a> @ Hire</h1>
        <span class="separator">{{ codeText }}</span>
    </header>
    <section class="container">

        <div class="row">

            <div class="page-navigation clearfix">

                <div class="col-md-8 col-md-offset-2 ">
                    <nav class="navbar navbar-default " role="navigation">
                        <ul class="nav navbar-nav">
                            <li ng-class="stateName.indexOf('main_hire ') > -1 ? 'active' : ''"><a ui-sref="main.hire">Contact Form</a></li>
                            <li ng-class="stateName.indexOf('main_hire_locations') > -1 ? 'active' : ''"><a ui-sref="main.hire.locations">Current Locations</a></li>
                            <li ng-class="stateName.indexOf('main_hire_future') > -1 ? 'active' : ''"><a ui-sref="main.hire.future">Future Considerations</a></li>
                            <li ng-class="stateName.indexOf('main_hire_documents') > -1 ? 'active' : ''"><a ui-sref="main.hire.documents">Documents</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="" ui-view="hireContent"></div>

        </div>

    </section>
</article>
