<div class="work-layout-switch">
    <div class="work-layout-icon work-layout-grid" ui-sref="main.work.gallery">
        <div class="square top left"></div>
        <div class="square top right"></div>
        <div class="square bottom left"></div>
        <div class="square bottom right"></div>
    </div>
    <div class="work-layout-icon work-layout-time" ui-sref="main.work.timeline">
        <div class="dot i1"></div>
        <div class="dot i2"></div>
        <div class="dot i3"></div>
        <div class="dot i4"></div>
        <div class="dot i5"></div>
        <div class="square left"></div>
        <div class="square right"></div>
    </div>
</div>


<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="col-sm-6 col-md-4 projects-gallery" ng-repeat="project in projects">
            <a ui-sref="main.work.gallery.item({itemId:project.id})" class="projects-gallery-item">
                <div class="projects-gallery-item-image">
                    <img src="#" />
                </div>
                <span class="projects-gallery-item-label">{{project.title}}</span>
            </a>
        </div>
    </div>
</div>