<article class="page page-bio">
    <header>
        <h1><a ui-sref="main.home"><span class="firstName">Ivar</span><span class="lastName">Prudnikov</span></a></h1>
        <span class="separator">{{ codeText }}</span>
    </header>
    <section>
        <header><h2>Bio</h2></header>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non neque non turpis placerat sodales. Sed
            varius lorem in lacus faucibus eleifend. Aliquam hendrerit lectus sed rutrum feugiat. Etiam ipsum mauris,
            fringilla vel nulla at, interdum sodales arcu. Donec a sagittis velit, sit amet tristique velit. Aliquam a
            metus massa. Quisque viverra tristique lectus, in ultricies mauris aliquam iaculis. Suspendisse eu nunc vel
            nulla consequat tempor at a magna. Suspendisse pretium, massa in feugiat rutrum, ligula purus lobortis
            turpis, vitae viverra dui nibh sit amet purus.</p>

        <div class="coding-skills">

            <nav>
                <ul class="coding-skills-navigation clearfix">
                    <li ng-repeat="language in codeData">

                        <a title="{{language.lang}}"
                           ng-class="language.lang === languageBlock.lang ? 'active' : ''"
                           ng-click="updateLanguageBlock($index)">

                            <span class="coding-skills-tooltip">{{language.lang}}</span>
                            <span class="connecting-line">
                                <span class="connecting-line-value"></span>
                            </span>
                            <span class="d-o-t"></span>
                        </a>

                    </li>
                </ul>
            </nav>

            <div ng-if="languageBlock">
                <h3 class="coding-skills-language">{{languageBlock.lang}}</h3>
                <p class="coding-skills-text">{{languageBlock.text}}</p>
                <div class="coding-skills-code" ng-include=" '/views/codeSnippets/' + languageBlock.lang + '.html' "></div>
            </div>

        </div>

    </section>
</article>

