<article class="page page-hire">
    <header>
        <h1><a ui-sref="main.home" ><span class="firstName">Ivar</span><span class="lastName">Prudnikov</span></a> @ Hire</h1>
        <span class="separator">{{ codeText }}</span>
    </header>
    <section class="container">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non neque non turpis placerat sodales. Sed
            varius lorem in lacus faucibus eleifend. Aliquam hendrerit lectus sed rutrum feugiat. Etiam ipsum mauris,
            fringilla vel nulla at, interdum sodales arcu. Donec a sagittis velit, sit amet tristique velit. Aliquam a
            metus massa. Quisque viverra tristique lectus, in ultricies mauris aliquam iaculis. Suspendisse eu nunc vel
            nulla consequat tempor at a magna. Suspendisse pretium, massa in feugiat rutrum, ligula purus lobortis
            turpis, vitae viverra dui nibh sit amet purus.</p>

        <p>Donec vitae lectus dui. Mauris leo nulla, sagittis at vehicula ac, adipiscing vel eros. Quisque enim dui,
            blandit quis libero vel, rhoncus vehicula mi. Praesent lobortis laoreet ultricies. Donec condimentum purus
            sollicitudin massa consequat, ut tincidunt mauris tristique. Maecenas eleifend nisl erat, eu lobortis ante
            suscipit sit amet. Sed suscipit pulvinar dui nec luctus. Cras tincidunt molestie leo, vitae lobortis purus.
            Pellentesque sed sem euismod, consequat felis ac, adipiscing augue. Vivamus nec augue risus. Vivamus in
            purus bibendum, mattis justo quis, vehicula massa. Aenean non augue id purus fringilla adipiscing in vitae
            dolor. Maecenas vel sapien sit amet nisl malesuada volutpat quis imperdiet augue. Aliquam eu aliquet dui.
            Proin tincidunt sapien quam, ut ultricies eros vulputate sed.</p>
    </section>
</article>
