<div class="work-layout-switch">
    <div class="work-layout-icon work-layout-grid" ui-sref="main.work.gallery">
        <div class="square top left"></div>
        <div class="square top right"></div>
        <div class="square bottom left"></div>
        <div class="square bottom right"></div>
    </div>
    <div class="work-layout-icon work-layout-time" ui-sref="main.work.timeline">
        <div class="dot i1"></div>
        <div class="dot i2"></div>
        <div class="dot i3"></div>
        <div class="dot i4"></div>
        <div class="dot i5"></div>
        <div class="square left"></div>
        <div class="square right"></div>
    </div>
</div>

<div class="col-sm-6 col-md-3" ng-repeat="project in workHistoryData.projects">
    <a ui-sref="main.work.gallery.item({itemId:project.id})" class="thumbnail">
        <img src="#"/>
        <span class="thumbnail-title">{{project.title}}</span>
    </a>
</div>