<article class="page page-hire">
    <header>
        <h1><a ui-sref="main.home" ><span class="firstName">Ivar</span><span class="lastName">Prudnikov</span></a> @ Hire</h1>
        <span class="separator">{{ codeText }}</span>
    </header>
    <section class="container">

        <div class="row">

            <div class="page-navigation clearfix">

                <div class="col-md-8 col-md-offset-2 ">
                    <nav class="navbar navbar-default " role="navigation">
                        <ul class="nav navbar-nav">
                            <li><a>Current Locations</a></li>
                            <li><a>Future Considerations</a></li>
                            <li><a>Contact Form</a></li>
                            <li><a>Documents</a></li>
                        </ul>
                    </nav>
                </div>
            </div>



        </div>

    </section>
</article>
