<div class="navigation" ng-class="{active:menuIsActive}" ng-controller="MenuController">
    <nav class="navigation-main">
        <a tabindex="0" class="navigation-toggler" ng-click="toggleNavigation()">
            <span class="navigation-toggler-bar"></span>
            <span class="navigation-toggler-bar"></span>
            <span class="navigation-toggler-bar"></span>
        </a>
        <ul>
            <li class="home">
                <a ui-sref="main">
                    <span class="">ip</span>
                </a>
            </li>
            <li>
                <a ui-sref="main.bio">
                <span class="navigation-bg navigation-bg-bio"></span>
                <span class="jumping-letter">Bio</span>
                </a>
            </li>
            <li>
                <a ui-sref="main.work.gallery">
                    <span class="navigation-bg navigation-bg-work"></span>
                    <span class="jumping-letter">Work</span>
                </a>
            </li>
            <li>
                <a ui-sref="main.hire">
                    <span class="navigation-bg navigation-bg-hire"></span>
                    <span class="jumping-letter">Hire</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
