<article class="page page-work">

    <header>

        <div class="page-title-wrapper">
            <h1><a ui-sref="main.home"><span class="firstName">Ivar</span><span class="lastName">Prudnikov</span></a> @ Work</h1>
        </div>

        <span class="separator">{{ codeText }}</span>

    </header>

    <section class="container">
        <div class="row">
            <div class="" ui-view="list"></div>
            <div class="" ui-view="item"></div>
        </div>
    </section>

</article>